// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

body, html
  height 100%

.tweets
  word-wrap break-word
  width 600px

.tweet
  clear both

.tweet_content
  margin-left: 58px

.tweet_image
  float left
