!!! 5
html(lang="ja")
  head
    meta(charset='UTF-8')
    != SocketStream
    title トレンディ
  body
    #header
      img(src='/images/trendy.png', alt='SocketStream Logo')
    #content
      #trends
      #tweets
    #info
      | Trendy は今 Twtter で話題になっている出来事についてのつぶやきを、リアルタイムでお届けするサービスです。
      br
      br
      | 機能の追加等のご要望がありましたら、<a href="https://twitter.com/#!/arumon_s" target="_blank" >arumons</a>宛にお願いします。
